<h1>Please Login:</h1>

<p>{{failMess}}</p>

<form action="/login" method="POST">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<button type="submit" class="btn btn-info">Log In</button>
</form>

<a href="/register">Register</a>