<div>
	<h1>Please Choose your Username and Password:</h1>

	<p>{{failMess}}</p>

	<form action="/newUser" method="post">
	<input type="text" name="username" placeholder="username"><br><br>
	<input type="password" name="password" placeholder="password"><br><br>
	<button type="submit" class="btn btn-info">Register</button>
	</form>
</div>