h1{
	font-family: arial;
	color: white;
}
h2{
	color: white;
}
body{
	background-color: black;
}
div{
	text-align: center;
	border:1px solid black;
}
#taskdiv{
	padding-top: 30px;
	padding-bottom: 30px;
	border:1px solid black;
}
#taskname{
	color: white;
}
p{
	color: red;
}
a{
	color: green;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #4CAF50;
}

