h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
}
h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
}
body{
	background-color: black;
}
div{
	text-align: center;
	border:1px solid gray;
}
#headDiv{
    padding-top: 15px;
    padding-bottom: 15px;
    border:1px solid gray;
}
#form{
    padding-top: 100px;
    padding-bottom: 100px;
    border:1px solid gray;
}
#register{
    padding-top: 200px;
    padding-bottom: 200px;
    border:1px solid gray;
}
#taskdiv{
	padding-top: 30px;
	padding-bottom: 30px;
	border:1px solid gray;
}
#taskname{
	color: white;
}
p{
	color: red;
}
a{
	color: green;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #4CAF50;
}

