
<nav>
	<ul>
	  <li style="float:right"><a class="active" href="/">Logout</a></li>
	</ul>
</nav>
<div>
	<h1>Welcome, {{user.username}}!</h1>
	<a href="/login/{{user.id}}"><h2>Your ToDoList</h2></a>
</div>